.center{
    text-align :center;
    background-color:rgb(236, 216, 191);
    width: 200px;
    margin: auto;
    height: 140;

}
form{

    text-align: right;
}
h1{
    text-align : center;
}
.fixsize{
    width: 176px;
}

.center2{
    text-align :center;
    background-color:bisque;
    width: 200px;
    margin: auto;
    height: 210;
}
table {
    margin-left: auto; /* Tabloyu ortalamak için sola ve sağa otomatik boşluk ekler */
    margin-right: auto;
}
label{
    text-align: left;
}
td {
    text-align: left; /* Hücre içindeki metni sola dayalı yapar */
}